html,body {
	font-family: 'Microsoft JhengHei','Ariel';
	color: white;
	height: 100%;
	width: 100%;
}
#county ul {
	min-height: 350px !important;
	height: 400px;
}
.select-wrapper input.select-dropdown {
	font-size: 2.0rem !important;
}
.select-dropdown {
	border-bottom: 0px !important;
}
.caret {
	color: white !important;
}
#main{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 50px 0px;
}
.header {
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
	background: url("../img/bg.jpg") center center fixed no-repeat;
	background-size: cover;
}
.text-vertical-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
#PSI_color, #PM25_color {
	font-size: 150%;
	color: white;
}
#loading-screen {
	display: table;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: white;
}